Fall-Detection-4/
__pycache__
database/database.ini
media/
runs/
venv/
yolo-Weights/
models/
.env
whatsapp/.wwebjs_auth/
whatsapp/.wwebjs_cache/
whatsapp/node_modules/
api2.py
test2.py
training/darknet